.hidden {
    display: none!important;
}
.navbar-dropdown {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-dropdown .navbar-logo img {
    height: 5rem;
}
.navbar .nav-dropdown {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}