.hidden {
    display: none!important;
}
.navbar-dropdown {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 0 5px 0;
}
.navbar-dropdown .navbar-logo img {
    height: 5rem;
}
.navbar-dropdown .nav-dropdown {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.card .card-block h3 {
    font-family: unset;
    font-size: 1.05em;
    text-align: left;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    padding: 0.25em;
}
.card .card-block h3::after {
    content: "+";
    float: right;
    font-weight: bold;
}
.card .card-block h3.ui-accordion-header-active::after {
    content: "-";
    float: right;
    font-weight: bold;
}
.card .card-block h3 .price {
    font-weight: bold;
}
.card .card-block h3 .price::before {
    content: "@ ₹ ";
}
.list-group-item:first-child {
    border: none;
}
.whatsapp-btn {
    height: 1.5em;
}
@media (max-width: 768px) {
    .navbar-toggler {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    .navbar-brand {
        margin-right: 0!important;
        width: 80%;
    }
}
/*default version*/
@font-face {
	font-family: 'audiowide-regular';
	src: url('../fonts/Audiowide-Regular.ttf'); 
	src: 
		local('Audiowide Regular'),
		local('Audiowide-Regular'),
		url('../fonts/Audiowide-Regular.ttf') 
		format('truetype');
}
/*bold version*/
@font-face {
	font-family: 'audiowide-bold';
	src: url('../fonts/Audiowide-Regular.ttf'); 
	src: 
		local('Audiowide Regular'),
		local('Audiowide-Regular'),
		url('../fonts/Audiowide-Regular.ttf') 
		format('truetype');
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4 {
    font-family: "Audiowide-Regular", sans-serif;
}
.mbr-section-title {
    text-transform: capitalize;
}
.tag-small {
    font-size: 1.75rem;
}
.tag-large {
    font-size: 4rem;
}
.mbr-table-cell {
    vertical-align: top;
    padding-top: 5rem;
    text-align: center;
}
.google-map-link img {
    padding: 0;
    margin-top: -0.5rem;
    height: 2.5em;
    border-radius: 50%;
}
.list-group-item {
    text-transform: capitalize;
}
.bg-bikes {
    color: white;
    background-color: blueviolet;
}
.card-header {
    font-size: 1.5em;
}
#refund-and-cancellation {
    background-color: bisque;
    min-height: calc(100vh - 7.5rem);
}
footer {
    background-color: rgb(38, 39, 44);
    padding-top: 3rem;
    padding-bottom: 1.98rem;
    height: 7.5rem;
}